<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">


  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddActServlet</servlet-name>
    <servlet-class>servlet.activity.AddActServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetActServlet1</servlet-name>
    <servlet-class>servlet.activity.GetActServlet1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetActServlet2</servlet-name>
    <servlet-class>servlet.activity.GetActServlet2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetActServlet3</servlet-name>
    <servlet-class>servlet.activity.GetActServlet3</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelActServlet</servlet-name>
    <servlet-class>servlet.activity.DelActServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateActServlet</servlet-name>
    <servlet-class>servlet.activity.UpdateActServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddActMsgServlet</servlet-name>
    <servlet-class>servlet.activity.AddActMsgServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetActMsgServlet</servlet-name>
    <servlet-class>servlet.activity.GetActMsgServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelActMsgServlet</servlet-name>
    <servlet-class>servlet.activity.DelActMsgServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetActapServlet1</servlet-name>
    <servlet-class>servlet.activity.GetActapServlet1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetActapServlet2</servlet-name>
    <servlet-class>servlet.activity.GetActapServlet2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddActapServlet</servlet-name>
    <servlet-class>servlet.activity.AddActapServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateActapServlet</servlet-name>
    <servlet-class>servlet.activity.UpdateActapServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelActapServlet</servlet-name>
    <servlet-class>servlet.activity.DelActapServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>servlet.activity.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetActServlet4</servlet-name>
    <servlet-class>servlet.activity.GetActServlet4</servlet-class>
  </servlet>


	<!-- 配置登陆过滤器 -->
 <filter>
  <filter-name>LoginFilter</filter-name>
  <filter-class>filter.LoginFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <url-pattern>/ac/*</url-pattern>
 </filter-mapping>


  <servlet-mapping>
    <servlet-name>AddActServlet</servlet-name>
    <url-pattern>/addActServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetActServlet1</servlet-name>
    <url-pattern>/getActServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetActServlet2</servlet-name>
    <url-pattern>/getActServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetActServlet3</servlet-name>
    <url-pattern>/getActServlet3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelActServlet</servlet-name>
    <url-pattern>/delActServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateActServlet</servlet-name>
    <url-pattern>/updateActServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddActMsgServlet</servlet-name>
    <url-pattern>/addActMsgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetActMsgServlet</servlet-name>
    <url-pattern>/getActMsgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelActMsgServlet</servlet-name>
    <url-pattern>/delActMsgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetActapServlet1</servlet-name>
    <url-pattern>/getActapServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetActapServlet2</servlet-name>
    <url-pattern>/getActapServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddActapServlet</servlet-name>
    <url-pattern>/addActapServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateActapServlet</servlet-name>
    <url-pattern>/updateActapServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelActapServlet</servlet-name>
    <url-pattern>/delActapServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/userLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetActServlet4</servlet-name>
    <url-pattern>/getActServlet4</url-pattern>
  </servlet-mapping>
</web-app>